@model List<AppDeviceses>

@{
    ViewData["Title"] = "Home Page";
    int RowCount = 1;
}
<table>
    <tr>
        <th>#</th>
        <th>Imei</th>
        <th>Serial</th>
        <th>UserName</th>
        <th>DeviceName</th>
        <th>Id</th>
        <th>Vaziat</th>
        <th>Savetime</th>
        <th>Savedate</th>
        <th>type</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@RowCount</td>
            <td>@item.Imei</td>
            <td>@item.Serial</td>
            <td>@item.UserName</td>
            <td>@item.DeviceName</td>
            <td>@item.Id</td>
            <td>@item.Vaziat</td>
            <td>@item.Savetime</td>
            <td>@item.SaveDate</td>
            <td>@item.Type</td>
            <td>
                <a href="#" class="btn btn-warning">Edit</a>
                <a href="#" class="btn btn-warning">Delete</a>
            </td>

        </tr>
        RowCount++; 
    }
</table>